body {
  background-color: black;
}

h1 {
  color: grey;
  font-family: verdana;
}

.maindiv {
  background-color: white;
  border-radius: 25px;
  width: 300px;
  padding: 20px;
  align: center;
  margin: auto; /* found this reference at https://www.w3schools.com/csS/css_align.asp, as the align parameter was not working.*/
  color: black;
}

.interiordiv {
  padding-left: 30px;
}

/* the idea to use background-color for highlighting came from
https://stackoverflow.com/questions/8644428/how-to-highlight-text-using-javascript
asked by: https://stackoverflow.com/users/901798/ankit
answered by: https://stackoverflow.com/users/1068746/guy-mograbi, and
https://stackoverflow.com/users/28884/iain-collins
Date: 2021-04-28
*/
.key {
  background-color: yellow;
}

#error {
  color: red;
  padding-left: 15 px;
}
